<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Flask App</title>
    {{ bootstrap.load_css() }}
</head>

<body>
    <div class="container mt-3">

        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}

        {% for category, message in messages %}

        <div class="alert alert-{{ category }} alert-dismissible fade show">

            {{ message }}

            <button type="button" class="btn-close" data-bs-dismiss="alert">
            </button>

        </div>

        {% endfor %}

        {% endif %}
        {% endwith %}

    </div>
    {% block content %}{% endblock %}
    {{ bootstrap.load_js() }}
</body>

</html>