{% extends 'base.html' %}

{% from 'bootstrap5/form.html' import render_field %}
{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-12 col-sm-10 col-md-8 col-lg-6 col-xl-5">
            <div class="card shadow-sm">
                <div class="card-body p-5">
                    <h2 class="card-title text-left mb-4">Upload Video</h2>
                    <form method="POST" enctype="multipart/form-data">
                        {{ form.hidden_tag() }}

                        {{ render_field(form.video) }}

                        <div class="d-grid">
                            {{ form.submit(class="btn btn-primary") }}
                        </div>
                    </form>

                </div>

            </div>
        </div>
    </div>
</div>
{% endblock %}